## Project 1
### By Kimesha Josephs

#### Tasks:

(1) Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change the structure of the information as you like.
(2) Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the two airlines.
(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your analysis and conclusions.

The first thing we have to do to complete these tasks is to import Pandas

In [1]:
import pandas as pd

We have to then read the given .CSV file.

In [30]:
Data = pd.read_csv(r'/Users/kimeshajosephs/Documents/IS362/Project1/Flights.csv')
Data

   Airline   Status  Los Angeles  Phoenix  San Diego  San francisco  Seattle
0   Alaska  On time          497      221        212            503     1841
1   Alaska  Delayed           62       12         20            102      305
2  AM west  On time          694     4840        383            320      201
3  AM west  Delayed          117      415         65            129       61

We can now get the total of delays and ontime numbers for all airlines

In [31]:
Data['TotalTime'] = (Data['Los Angeles'] + Data['Phoenix'] + Data['San Diego'] + Data['San francisco'] + Data['Seattle'])
Data

,Airline,Status,Los Angeles,Phoenix,San Diego,San francisco,Seattle,TotalTime
0,Alaska,On time,497,221,212,503,1841,3274
1,Alaska,Delayed,62,12,20,102,305,501
2,AM west,On time,694,4840,383,320,201,6438
3,AM west,Delayed,117,415,65,129,61,787

### Now we need to calculate the total number for each airline.

In [33]:
TotalflightsAlaska= (Data['TotalTime'][0] + Data['TotalTime'][1])
TotalflightsAMWest= (Data['TotalTime'][2] + Data['TotalTime'][3])

print ('Alaska airlines total flights= {} '.format(TotalflightsAlaska))
print ('AM west total flights= {} '.format(TotalflightsAMWest))

Alaska airlines total flights= 3775
AM west total flights= 7225

### Now we need to calculate the percentage of delays for each flight.

In [41]:
PercentagedelayAlaska= (Data['TotalTime'][1] / (TotalflightsAlaska)) * 100
PercentagedelayAMWest= (Data['TotalTime'][3] / (TotalflightsAMWest)) * 100

Alaska = round(PercentagedelayAlaska,2)
AMWest = round(PercentagedelayAMWest,2)

print ('Alaska airlines percentage delay = {}% '.format (Alaska))
print ('AM West airlines percentage delay = {}%'.format (AMWest))

Alaska airlines percentage delay = 13.27%
AM West airlines percentage delay = 10.89%

AM west has twice as much total flights than Alaska and has a lower delay rate.